.aboutHeroFirst{
    background-image: url(https://d26p6gt0m19hor.cloudfront.net/assets/donations/general/the-spring-background-4a0669e65a1c0d601de41b2598e23d21.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: black; */
    min-height: 600px;
}