.donate-hero {
  background: url(cancer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px;
  padding: 100px 20px 90px;
  font-family: sans-serif;
}

.donate-sidebyside {
  width: 85%;
  margin: 0px auto;
  padding: 0px 20px;
  display: flex;
}

.donate-left {
  width: 390px;
  margin: 0px 30px;
  background-color: rgb(238, 238, 238);
  padding: 2%;
  border-radius: 7px;
}
.button-first button {
 
}

.button-first button:last-child {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.button-first button:first-child {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.donate-right {
  width: 350px;
  margin: 0px 30px;
  margin-left: 200px;
  text-align: center;
}

button {
  margin: 3px;
  min-width: 120px;
  height: 45px;
  padding: 2px 4px;
  border-radius: 7px;
  border: none;
  background-color: #369ff4;
  color: white;
  border: 2px solid #369ff4;
}

input {
}

button:hover {
  background-color: rgb(252, 241, 241);
  color: grey;
}

h1 {
  margin: ;
}

@media (max-width: 915px) {
  .donate-sidebyside {
    flex-direction: column;
  }
  .donate-left,
  .donate-right {
    margin: 0 auto;
  }
}
