.donateHero {
  background: url(cancer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px;
  padding: 100px 20px 90px;
  font-family: sans-serif;
  
}

.donateSidebyside {
  width: 85%;
  margin: 0px auto;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
}

.donateLeft {
  width: 390px;
  margin: 0px 30px;
  background-color: transparent;
  padding: 2%;
  padding-right: ;
  border-radius: 10px;
}

.buttonGrid {
  padding-top: 0;
  padding: 10px;
  background-color: white;
}
.amountHeading h4 {
  background-color: #f4f5f0;
  margin: 0;
  padding: 15px;
  text-align: center;
  color: #484747;
  border-bottom: 1.3px solid lightgrey;
}

.buttonFirst button:last-child {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.buttonFirst button:first-child {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.donateRight {
  width: 350px;
  margin: 0px 30px;
  padding-left: 100px;
  text-align: center;
}

button {
  margin: 3px;
  min-width: 120px;
  height: 45px;
  padding: 2px 4px;
  border-radius: 7px;
  border: none;
  background-color: #369ff4;
  color: white;
  border: 2px solid #369ff4;
}

button:hover {
  background-color: rgb(252, 241, 241);
  color: grey;
}

.gridButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dollarInput {
  grid-column: 2 / span 2;
  position: relative;
}
.dollarInput span {
  margin-left: 15px;
  position: absolute;
  top: 16px;
  left: 5px;
  color: #474747;
}

.dollarInput input {
  width: 95%;
  height: 85%;
  font-size: 15px;
  text-align: center;
  margin-left: 3px;
  border: 1.5px solid lightgrey;
  border-radius: 4px;
}

.donateButton{
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 915px) {
  .donateSidebyside {
    flex-direction: column;
  }
  .donateLeft,
  .donateRight {
    margin: 0 auto;
  }
}
