.conatiner {
  display: flex;
}

.date {
  margin-left: 0;
}

h3 {
  color: rgb(83, 75, 75);
  padding: 5px;
}

@media (min-width: 800px) {
  #mobile {
    font-family: sans-serif;
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
  }
}
